

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

html,
body{
  height: 100%; 
  background-color: #222222;
  overflow: hidden; 
}

.App{
  height: 100vh;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  font-family: Lato, sans-serif;
}

.logo-contenedor{
  width: 100%;
  text-align: center;
  margin-bottom: 20px; 
}

.contenedor-calculadora{
  width: 400px;
  height: 600px;
  padding: 14px;
  background-color: #dadada;
  border-radius: 20px;
  border: 5px solid rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: center; 
}

.fila{
  margin: 4px;
  display: flex;
  justify-content: center;
}



.sixtyfour-convergence-logo{
  font-family: "Sixtyfour Convergence", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "BLED" 0,
    "SCAN" 0,
    "XELA" 0,
    "YELA" 0;
}